.App {
  font-family: "Avenir";
  margin: 1em;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.profile {
  display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);
	grid-template-rows: repeat(10, min-content);
}

.jobFilters {
  display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);
	grid-template-rows: repeat(10, min-content);
  grid-auto-flow: dense;
}

.companyFilters {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);
  grid-template-rows: repeat(10, min-content);
  grid-auto-flow: dense;
}

.jobFilterCategory .locationList {
  grid-column: 1 / span 1;
}

.jobFilterLevel .industryFilter {
  grid-column: 2 / span 2;
}

.jobFilterLocation .sizeFilter {
  grid-column: 3 / span 1;
}

.searchContainerResults {
  grid-column: 1 / span 3;
  grid-auto-flow: dense;
}

.companySearchResults {
  grid-column: 1 / span 3;
  grid-auto-flow: dense;
}

.resources {
  grid-column: 3 / span 3;

}

.jobSuggestions {
  grid-column: 1 / span 2;
}

.welcome {
  grid-column: 1 / -1;
	grid-row: 1;
}

.companySearchResults {
  flex: auto;
  align-self: center;
  align-content: center;
  margin-left: 1em;
  background-color: #c0c2ce;
}

.companySearchResultCard {
  padding: 0.25em;
  margin: 0.75em;
  height: 380px;
  width: 350px;
  display: block;
  border: groove #53b6d0 2px;
  float: left;
}


.location, .industryList {
  font-size: 14px;
  vertical-align: bottom;

}

.jobSearchResultItem {
  padding: 0.25em;
  margin: 1em;
  height: 180px;
  width: 280px;
  /* border: groove 1px; */
  float: left;
}

.jobDescription {
  padding: 0.25em;
  margin: 1em;
}

.mySavedJobList {
  margin: 1em;
  padding: 1em;
}

.mySavedJob {
  padding: 0.25em;
  margin: 1em;
  height: 180px;
  width: 280px;
  border: groove 1px;
  float: left;
}

.mySavedJob div.dateSaved {
  font-style: italic;
}


.myJobDetail {
  display: grid;
  display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);
	grid-template-rows: repeat(10, min-content);
}

.header {
  grid-column: 1 / span 3;
}

.myJobResource {
  grid-column: -1 / span -1;
  border: blue 1px groove;

}

.myJobDetailDashboard {
  grid-column: 1 / span 2;
  /* clear: both; */
  padding: 0.5em;
  border: solid 1.5px;
  border-color: #2ab7ca;
  border-radius: 4px;
}

.myJobDetailDescrip {
  grid-column: 1 / span 3;
  /* grid-row: 3 / span 4; */

}

.underDescrip {
  grid-column: 1/span 2;
}

.myJobInfoAndNotes {
  /* grid-column: 1 / span 2; */
  /* grid-row: 3 / span -1 */
  /* clear: both; */
  display: grid;
  padding: 1em;
  grid-gap: 15px;
  width: 100%;
  grid-template-columns: 36% 60%;
  /* grid-template-areas: */
  /* "header  header  header"
    "sidebar content content"
    "footer  footer  footer"; */
}

.myJobDetailSavedInfo {
  grid-column: 1 / span 2;
   /* grid-column: 1 / span 1;
  /* display: grid;*/
  background-color: #f4f4f8;
  overflow-y: scroll;
}

.bookmarks {
  /* grid-column: 1; */

}

div.notes {
  grid-column: 1 / span 1;
}


div.noteTitleList {
  border: 1px groove #355C7D;
  margin: 0 0.3em;
  padding: 0.3em;
  font-size: 1em;
}

.noteTitleList:hover {
  background-color: #fff294;
}

button.openButton {
  border: none;
  background: none;
}

/* .newNoteForm .archiveNote {
  grid-column: 2 / span 2;
  grid-row: 3 / span 6
} */


.myJobDetailNote {
  /* grid-column: 2 / span 2; */
  /* grid-row: 6 / span 10; */

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: 100%;
  background-color: #c0c2ce;
  padding: 0.25em;
  height: 100%;
  width: 100%;
  align-self: center;
}

.myJobDetailSavedNote {
  grid-column: 1 / span 2;
}


h3.myJobDetailCompanyName {
  font-size: 130%;
}

.myJobDetailNote form {
  align-self: center;
  width: inherit;

}



textarea {
  align:center;
  grid-column: 1 / 2;
  width: 98%;
  font-family: "Source Sans Pro";
  align:center;
}

textarea.noteContent {
  min-height: 600px;
  flex-direction: row;
  font-size: 15px;
  font-weight: 500;
  margin: 0.2em;

}

textarea.noteTitle {
  margin: 0.2em;
  resize: none;
  height: 30px;
  vertical-align: middle;
  flex-direction: row;
  font-weight: 600;
  font-size: 22px;
}



img.icon {
  width: 160px;
  float: right;
  display: inline;
  padding: 0 0.25em 0.25em 0.25em;
  margin: 0.5em;
}
