.App {
  font-family: "Source Sans Pro";
  margin: 1em;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.companySearchResults {
  flex: auto;
  align-self: center;
  align-content: center;
  margin-left: 1em;
  background-color: #c0c2ce;
}

.companySearchResultCard {
  padding: 0.25em;
  margin: 0.75em;
  height: 380px;
  width: 350px;
  display: block;
  border: groove #53b6d0 2px;
  float: left;
}


.location, .industryList {
  font-size: 14px;
  vertical-align: bottom;

}

.jobSearchResultItem {
  padding: 0.25em;
  margin: 1em;
  height: 180px;
  width: 280px;
  border: groove 1px;
  float: left;
}

.jobDescription {
  padding: 0.25em;
  margin: 1em;
}

.mySavedJobList {
  margin: 1em;
  padding: 1em;
}

.mySavedJob {
  padding: 0.25em;
  margin: 1em;
  height: 180px;
  width: 280px;
  border: groove 1px;
  float: left;
}

.mySavedJob div.dateSaved {
  font-style: italic;
}


.myJobDetail {
  margin: 1em;
  padding: 1em;
}

div.myJobDetailDashboard {
  clear: both;
  padding: 0.5em;
  border: solid 1.5px;
  border-color: #2ab7ca;
  border-radius: 4px;
}

.myJobInfoAndNotes {
  clear: both;
  display: grid;
  padding: 1em;
  grid-gap: 15px;
  width: 100%;
  grid-template-columns: 36% 60%;
  grid-template-areas:
  "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
}

.myJobDetailSavedInfo {
  display: grid;
  background-color: #f4f4f8;
  overflow-y: scroll;
}


div.noteTitleList {
  border: 1px groove #355C7D;
  margin: 0 0.3em;
  padding: 0.3em;
  font-size: 1em;
}

.noteTitleList:hover {
  background-color: #fff294;
}

button.openButton {
  border: none;
  background: none;
}


.myJobDetailNote {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: 100%;
  background-color: #c0c2ce;
  padding: 0.25em;
  height: 100%;
  width: 100%;
  align-self: center;
}



h3.myJobDetailCompanyName {
  font-size: 130%;
}

.myJobDetailNote form {
  align-self: center;
  width: inherit;

}



textarea {
  align:center;
  grid-column: 1 / 2;
  width: 98%;
  font-family: "Source Sans Pro";
  align:center;
}

textarea.noteContent {
  min-height: 600px;
  flex-direction: row;
  font-size: 15px;
  font-weight: 500;
  margin: 0.2em;

}

textarea.noteTitle {
  margin: 0.2em;
  resize: none;
  height: 30px;
  vertical-align: middle;
  flex-direction: row;
  font-weight: 600;
  font-size: 22px;
}




img.icon {
  width: 160px;
  float: right;
  display: inline;
  padding: 0 0.25em 0.25em 0.25em;
  margin: 0.5em;
}
